/* Reset default styles for all elements */
body, figure, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set base font styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Set header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .container {
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }

  nav ul {
    list-style-type: none;
  }
  nav li {
    display: inline;
    margin-right: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  nav a:hover {
    color: #ff9900;
  }
  
  /* Set section styles */
  section {
    padding: 80px 420px;
  }
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section p {
    margin-bottom: 20px;
  }
  .project {
    margin-bottom: 40px;
  }
  .project h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .project p {
    margin-bottom: 10px;
  }
  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .project img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Set footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  

  .center {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }
  
  .skills_info,
  .skills_data,
  .skills_blob{ 
    display: grid;
  }

  .skills_info {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem 2rem;
  }
  
  .skills_data {
    justify-content: center;
    text-align: center;
  }

  .skills_container {
    row-gap: 3.5rem;
  }
